@font-face {
  font-display: swap;
  font-family: onvan;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ttf/onvan.ttf");
  src: url("../fonts/woff2/onvan.woff2") format("woff2"), url("../fonts/ttf/onvan.ttf") format("truetype");
}

@font-face {
  font-family: "__headingFont_55acf3";
  src: url(/_next/static/media/b50c6b7ee9613e13.p.woff2) format("woff2");
  font-display: optional;
}

/* @font-face {
  font-family: "OnvanFallback";
  font-weight: 700;
  src: local("Arial");
  src: local("Estedad"), local("IRANSans"), local("vazirmatn"), local("Roboto"), local("Arial");
  ascent-override: 141.41%;
  descent-override: 104%;
  line-gap-override: 0%;
  size-adjust: 100%;
} */
