@font-face {
  font-display: swap;
  font-display: swap;
  font-family: onvan;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/ttf/onvan.ttf");
  src: url("../fonts/woff2/onvan.woff2") format("woff2"), url("../fonts/ttf/onvan.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: onvan;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ttf/onvan.ttf");
  src: url("../fonts/woff2/onvan.woff2") format("woff2"), url("../fonts/ttf/onvan.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: onvan;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/ttf/onvan.ttf");
  src: url("../fonts/woff2/onvan.woff2") format("woff2"), url("../fonts/ttf/onvan.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: onvan;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/ttf/onvan.ttf");
  src: url("../fonts/woff2/onvan.woff2") format("woff2"), url("../fonts/ttf/onvan.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: onvan;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/ttf/onvan.ttf");
  src: url("../fonts/woff2/onvan.woff2") format("woff2"), url("../fonts/ttf/onvan.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: onvan;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ttf/onvan.ttf");
  src: url("../fonts/woff2/onvan.woff2") format("woff2"), url("../fonts/ttf/onvan.ttf") format("truetype");
}
