---
---

<div class='h-full flex flex-col jc'>
  <h1>خطای ۴۰۴</h1>
  <p>صفحه‌ای با این آدرس وجود ندارد.</p>
  <a href='/' class='mt-10 w-fit btn-prm-grd af-i-ph-arrow-left'> بازگشت به صفحه خانه</a>
</div>
