---
// import InstallPWAButton from '../components/InstallPWAButton.astro';
import CriticalStyles from '@comps/layout-components/CriticalStyles.astro';
import PWAInstallButton from '@comps/pwa/PWAInstallButton.astro';
import GlobalLayout from '../layouts/GlobalLayout.astro';
export const prerender = true;
---
<GlobalLayout title='برای ایران'>
    <CriticalStyles slot='head' />

  <div class='space-y-32'>
    <section class=''>
      <img
        src='/images/home-banner.svg'
        alt=''
        class='sm:mt-4 w-full max-w-full max-w-min(100%,30rem) mx-auto px-10 dark:filter-invert dark:opacity-70'
        width='500'
        height='260'
      />
      <h1 class='unstyled font-family-heading text-12vw sm:text-7xl text-center'>
        <span class='block leading-1em px-1'>دسترسی بهتر</span>
        <span class='block leading-1em px-1 pb-5 sm:pb-10'>به اطلاعات مهم‌تر</span>
      </h1>
      <p class='c-sand11 max-w-60ch text-center mx-auto'>
        <strong class='fw-400'> «برای ایران»</strong>
        داده‌ها و محتوای مهم انقلاب ایران را سازماندهی می‌کند.
      </p>
    </section>
    <section>
      <ul class='switcher_stack gap-10 list-none'>
        <li>
          <img
            src='/images/home-accessible.svg'
            alt=''
            width='100'
            height='100'
            class='-mb-4 lt-sm:mx-auto w-5/7 dark:filter-invert dark:opacity-70'
          />
          <p class='fw-700 font-family-heading text-3xl'>دسترسی‌پذیر</p>
          <p class='text-note'>همه از جمله کم‌بینایان، نابینایان و کورنگ‌ها می‌توانند از مطالب استفاده کنند.</p>
        </li>
        <li>
          <img
            src='/images/home-focus.svg'
            alt=''
            width='100'
            height='100'
            class='-mb-4 lt-sm:mx-auto w-5/7 dark:filter-invert dark:opacity-70'
          />
          <p class='fw-700 font-family-heading text-3xl'>متمرکز</p>
          <p class='text-note'>دور از موج‌ها و آشفتگی شبکه‌های اجتماعی، مطالب مهم را یکجا و ساختار‌مند ببیند.</p>
        </li>
        <li class='flex-1'>
          <img
            src='/images/home-search.svg'
            alt=''
            width='100'
            height='100'
            class='-mb-4 lt-sm:mx-auto w-5/7 dark:filter-invert dark:opacity-70'
          />
          <p class='fw-700 font-family-heading text-3xl'>جستجو‌پذیر</p>
          <p class='text-note'>
            نگران گم کردن مطالب نباشید. هر چیزی را سریع از منو کناری یا جستجو گوگل دوباره پیدا کنید.
          </p>
        </li>
      </ul>
    </section>
    <section class='space-y-8'></section>
    <section class='space-y-8'>
      <img src='/images/home-arrow-wavy.svg' width='40' height='40' alt='' class='w-10 opacity-30 dark:filter-invert' />
      <h2 class='H1 !mt-0'>از اینجا شروع کنید</h2>
      <ol>
        <li>
          <p>همه مطالب موجود در منوی کناری دسته‌بندی شده‌اند.</p>
          <p class=''>
            (در موبایل باید روی
            <span class='i-ph-list !vertical-middle mx-2 inline-block'>
              <span class='sr-only'> دکمه منو در بالا سمت راست</span>
            </span>
            کلیک کنید تا منو را ببینید.)
          </p>
        </li>
        <li>روی هر کدام کلیک کنید تا به برگه مورد نظر بروید.</li>
      </ol>
    </section>
    <section class='space-y-8'>
      <img src='/images/home-no-wifi.svg' alt=''  width='40' height='40' class='w-10 opacity-30 dark:filter-invert' />
      <h2 class='H1 !mt-0'>دسترسی بدون اینترنت</h2>
      <div>
        <p>با نصب اپلیکیشن (Application) می‌توانید بدون اینترنت به تمام محتوا دسترسی داشته باشید.</p>
        <p>هر زمان دوباره اینترنت داشتید، برنامه را باز کنید تا محتوای بروز را دریافت کنید.</p>
      </div>
      <PWAInstallButton />
      <p class='text-tiny-note'>
        این برنامک یک
        {` `}
        <a href='https://en.wikipedia.org/wiki/Progressive_web_app'>Progressive Web Application</a>
        {` `}
        یا PWA است. یعنی یک نسخه از کل وبسایت دانلود می‌شود به کمک قابلیت‌های PWA مرورگر‌های امروزی بر روی گوشی یا لپتاپ
        مانند یک اپلیکیشن کار می‌کند.{' '}
      </p>
    </section>

    <section class=''>
      <img src='/images/home-support.svg' alt='' width='40' height='40' class='w-10 opacity-30 dark:filter-invert' />
      <h2 class='H1 mb-8'>همکاری</h2>
      <p>اگر علاقه‌مند به تولید و مدیریت محتوا هستید به صفحه ما در Notion سر بزنید.</p>
      <p>برای همکاری در توسعه وب‌سایت، GitHub برای ایران را ببینید.</p>
      <p>برای هر موضوع دیگر به ما ایمیل بزنید.</p>
      <div class='!my-8 flex gap-4 flex-col items-start sm:flex-row'>
        <a
          href='https://www.notion.so/1536c3b436584a57bcd284cffafb4dee'
          class='btn-ghost inline-block bf-i-logos-notion-icon before:( opacity-100 )'
        >
          <span class=''>Notion</span>
        </a>
        <a
          href='https://github.com/rehydratedmoon/foriran.io'
          class='btn-ghost inline-block bf-i-logos-github-icon before:opacity-100 dark:before:filter-invert'
        >
          <span class=''> GitHub</span>
        </a>
        <a href='mailto:info@foriran.com' class='btn-ghost inline-block bf-i-ph-envelope-simple before:( opacity-100 )'>
          <span class=''>ایمیل ما</span>
        </a>
      </div>
    </section>
  </div>
</GlobalLayout>

{
  /*  
<section class='space-y-8 bg-left bg-op-20 bg-src-[/images/home-sharing.svg]' style="">
  <img src='/images/home-share.svg' alt='' class='w-10 opacity-30 dark:filter-invert scale-x--100' />
  <h2 class='H1 !mt-0'>همرسانی</h2>
  
      <p>اگر «برای ایران» را مفید یافتید به دیگران هم معرفی کنید</p>
      <div class='!my-8 flex gap-4 flex-col items-start sm:flex-row'>
        <a
          href='https://www.notion.so/1536c3b436584a57bcd284cffafb4dee'
          class='btn-ghost inline-block bf-i-ph-twitter-logo before:( opacity-100 )'
        >
          <span class=''>همرسانی در توییتر</span>
        </a>
        <a
        href='https://github.com/rehydratedmoon/foriran.io'
        class='btn-ghost inline-block bf-i-ph-instagram-logo before:( opacity-100 )'
        >
          <span class=''> ‌همرسانی در اینستاگرام</span>
        </a>
      </div>
    </section>
*/
}
