---
import GlobalLayout from '@layouts/GlobalLayout.astro';
import Input from '@components/form/Input.astro';
import { z } from 'zod';
import supabase from '@db/supabase';
import ErrMsg from '@components/form/ErrMsg.astro';

const schema = z.object({
  email: z.string().min(1, 'Please Enter your Email').email('Please enter a valid email'),
});
let serverError = null;
let errors = {};
let isEmailSent = null;
if (Astro.request.method === 'POST') {
  try {
    const formData = await Astro.request.formData();
    const formValues = Object.fromEntries(formData.entries());
    const safeParse = schema.safeParse(formValues);
    if (!safeParse.success) {
      errors = safeParse.error.format();
    }
    if (safeParse.success) {
      const { data, error } = await supabase.auth.signInWithOtp({
        email: formValues.email,
      });
      if (error) serverError = error;
      if (!error) isEmailSent = true;
    }
  } catch (err) {
    serverError = err;
  }
}
---

<GlobalLayout title='Login'>
  <form method='POST' class='ltr space-y-4 p-2 text-xl' dir='ltr'>
    <div class='grid g-cols-[auto_1fr] gap-2'>
      <Input name='email' type='email' />
      <ErrMsg errors={errors} name='email' />
    </div>
    <div class='grid'>
      <button type='submit' class=`btn-prm !text-3xl`>Submit</button>
    </div>
  </form>
  {
    serverError && (
      <div>
        <h2>Server Error</h2>
        <pre class='rd-xl b-1 b-dashed b-gray5 bg-gray2 c-gray11 p-4'>{JSON.stringify(serverError, null, 2)}</pre>
      </div>
    )
  }
  {isEmailSent && <div class='snack-success'>Email Sent. Check your Email</div>}
</GlobalLayout>
