---
interface Props {
  href: string;
  class?: string;
  [key: string]: any;
}

const { href, ...props } = Astro.props;
let attrs = {};
const currentPath = Astro.url.pathname;
if (currentPath.startsWith(href)) {
  attrs['aria-current'] = 'page';
}
---

<a
  href={href}
  class={`pis-2  ls-tighter aria-[current=page]:c-prm11
${props.class}`}
  data-link-in-menu
  {...attrs}
  {...props}
>
  <slot />
</a>

<script>
  import { closeMenu, openMenu } from '../scripts/sideMenu';

  const menuLinks = document.querySelectorAll('[data-link-in-menu]');

  menuLinks?.forEach((menuLink) => {
    menuLink?.addEventListener('click', (event) => {
      //  close the side menu
      closeMenu();
    });
  });
</script>
