---
---

<footer class='mt-10 px-4 c-sand11'>
  <div class='b-t-1 b-gray7 pt-4 flex flex-wrap ac gap-4'>
    <p class='text-center text-sm mie-auto w-full sm:w-auto display-none sm:block'>به امید آزادی ایران</p>
    <p class='text-center text-sm mie-auto w-full sm:w-auto sm:display-none'>
      <a href='/' class='py-2 no-underline leading-none text-lg ls-tight inline-flex gap-2 ac lh-5'>
        <span class='fw-700 text-sm c-sand10 font-family-heading leading-none ls-tighter'>
          <span aria-hidden='true'>برای ایــران</span>
          <span class='sr-only'>صفحه خانه</span>
        </span>
      </a>
    </p>
    <div class='flex gap-4 jc text-xs w-full sm:w-auto'>
      <a href={`/about-us`}>درباره ما</a>
      <a href='/privacy-policy'>سیاست محرمانگی</a>
    </div>
  </div>
  <div class="text-2xs c-sand11 pb-4 flex jc ac">
    <slot />
  </div>
</footer>
