---
import ThemeSwitch from '../components/ThemeSwitch.astro';
---

<header class='px-4 sm:px-0 bg-gray1 bg-blue4 sticky top-0 z-10 lt-sm:b-b-1 b-gray6'>
  <div class='py-2 sm:display-none grid gap-1' style='grid-template-columns: 1fr 3fr 1fr;'>
    <div class='flex justify-start'>
      <button class='sm:display-none py-2 opacity-90 flex ac bf-i-ph-list !before:m-0 c-gray11' id='hamburger-button'>
        <span class='sr-only'>منو</span>
      </button>
    </div>
    <div class='flex ac jc'>
      <a href='/' class='py-2 leading-none text-lg ls-tight flex gap-2 ac sm:display-none lh-5' aria-hidden='true'>
        {/* <img src="/logo.svg" alt="برای ایران" class="w-6 h-6 inline-block " /> */}
        <span aria-hidden='true' class='fw-700 font-family-heading leading-none ls-tighter'>
          برای ایــران{' '}
        </span>
        <span class='sr-only'>برای ایران</span>
      </a>
    </div>
    <div class='flex ac justify-end'>
      <ThemeSwitch defaultTheme='system'>
        <button
          class='bf-i-ph-sun hover:bf-i-ph-sun-duotone dark:bf-i-ph-moon dark:hover:bf-i-ph-moon-duotone c-gray11 !before:m-0 c-gray11'
        >
          <span class='sr-only'>تغییر تم</span>
        </button>
      </ThemeSwitch>
    </div>
  </div>
</header>

<script>
  import { closeMenu , openMenu } from  '../scripts/sideMenu';
  const menuButton = document.querySelector('#hamburger-button');
  menuButton?.addEventListener('click', (e) => {
    openMenu();

    const handleEscape = (event) => {
      if (event.keyCode === 27) {
        closeMenu()
        window.removeEventListener('keydown', closeMenu);
      }
    };  
    window.addEventListener('keydown', handleEscape);
  });
</script>
