---
import { useStore } from '@nanostores/solid';
import { isSideMenuOpen } from '../stores/sideMenuStore';

const $isSideMenuOpen = useStore(isSideMenuOpen);
---
<div
  class={`sm:display-none fixed z-20 inset-0 bg-grayA-9 
              transition-opacity duration-400 ease-in-out
             ${$isSideMenuOpen() ? 'opacity-100 select-none' : 'opacity-0 pointer-events-none'}`}
  title='Close Menu'
  aria-label='Close Menu'
  onClick={() => isSideMenuOpen.set(false)}
>
  <span class='sr-only'>بستن منو</span>
</div>
