---
---

<div
  id='side-menu-overlay'
  class='side-menu_overlay sm:display-none fixed z-20 inset-0 bg-grayA-9 transition-opacity duration-400 ease-in-out'
  title='Close Menu'
>
  <span class='sr-only'>بستن منو</span>
</div>

<script>
  const menuButton = document.querySelector('#side-menu-overlay');
  menuButton?.addEventListener('click', (e) => {
    document.documentElement.style.setProperty('--is-side-menu-open', 'var(--FALSE)');
    document.documentElement.style.setProperty('--is-side-menu-close', 'var(--TRUE)');
  });
</script>
