---
import { ThemeSwitch } from 'astro-color-scheme';
import NavLink from './NavLink.astro';
// import ThemeToggler from "./ThemeToggler";
// import { useStore } from '@nanostores/solid';
// import { isSideMenuOpen } from '../stores/sideMenuStore';
// type SideMenuProps = {
//   isSideMenuOpen: boolean;
//   setIsSideMenuOpen: React.Dispatch<React.SetStateAction<boolean>>;
// };
const navLinkProps = { onClick: null };
const props = Astro.props;
---

<!-- const Nav = (props) => { --><!-- const $isSideMenuOpen = useStore(isSideMenuOpen); --><!-- const closeMenu = () => isSideMenuOpen.set(false); -->
<div class={`sidebar top-0 bg-gray1 p-4  z-30 w-sidebar  `}>
  <nav class={props.class}>
    <a href='/' class='no-underline display-none sm:flex gap-4 ac text-xl' title='صفحه خانه'>
      {/* <img src="/images/derafsh.svg" alt="برای ایران" class="w-8 h-8 translate-x-0.5 dark:filter-invert" /> */}
      <span aria-hidden='true' class='fw-700 c-violet12 font-family-heading leading-none ls-tighter'>
        برای ایــران{' '}
      </span>
      <span class='sr-only'>برای ایران</span>
    </a>
    <a
      href={props.currentPath + '#main-content'}
      class='px-4 py-1 bg-violet2 abs c-violet11 italic text-xs af-i-ph-arrow-left-thin -translate-y-100 focus:translate-y-10'
    >
      برو به بخش اصلی صفحه
    </a>
    <div class='mt-15 sm:mt-10 flex flex-col gap-6 mb-auto'>
      <NavLink
        href='/posts/safety'
        class='bf-i-ph-shield-plus hover:bf-i-ph-shield-plus-duotone aria-[current-page]:bf-i-ph-shield-plus-fill'
        {...navLinkProps}
      >
        ایمنی
      </NavLink>
      {
        /* <NavLink href="/posts/fight" class=" bf-i-ph-lightning data-[in-path]:bf-i-ph-lightning-fill" {...navLinkProps}>
          نبرد
        </NavLink> */
      }
      <NavLink
        href='/posts/terms'
        class='bf-i-ph-book-bookmark hover:bf-i-ph-book-bookmark-duotone aria-[current-page]:bf-i-ph-book-bookmark-fill'
        {...navLinkProps}
      >
        واژه‌ه‌نامه
      </NavLink>
      <NavLink
        href='/posts/oppression-methods'
        class='bf-i-ph-lightning hover:bf-i-ph-lightning-duotone aria-[current=page]:bf-i-ph-lightning-fill'
        {...navLinkProps}
      >
        تکنیک‌های سرکوب
      </NavLink>
    </div>
    <div class='mt-auto flex flex-col gap-6'>
        <!-- <ThemeSwitch strategy='button' defaultTheme='system'>
          <button class='bf-i-ph-sun dark:bf-i-ph-moon before:m-0 c-gray11'>
            <span class=''>تغییر تم</span>
          </button>
        </ThemeSwitch> -->
    
    </div>
  </nav>
</div>
<!-- ); -->
<!-- }; -->

<!-- export default Nav; -->

<!-- // old stuff or comments -->
<!-- 
//  <Link href={`/revolution-phases`} class="in-sub-path:underline bf-i-ph-arrows-out">
//           فاز‌های انقلاب
//         </Link> -->
