<script src='./pwa.ts'></script>
<div
  id='pwa-offline-toast'
  role='alert'
  class='display-none -translate-x-1000 fixed right-4 bottom-4 bottom-0 z-1 snack-success shadow-2xl'
>
  محتوا سایت دریافت شد. می‌توانید بدون اینترنت هم محتواها رو ببینید.
  <div>
    <button id='pwa-refresh-toast-accept' class='btn'> باشه</button>
  </div>
</div>
