<script src='./pwa.ts'></script>
<div id='pwa-refresh-toast' role='alert' aria-labelledby='toast-message' class=' fixed right-4 bottom-4 bg-sand2 bottom-0 z-1 m-4 p-3 b-1 b-sand6 rd-1 shadow-2xl '>
  <div class='message'  class="mb-2">
    <span id='pwa-refresh-toast-message'></span>
  </div>
  <div class='flex gap-4 flex-wrap '>
    <button id='pwa-refresh-toast-accept' class='btn'> بروزرسانی</button>
    <button id='pwa-refresh-toast-dismiss' class="btn-ghost"> الان نه</button>
  </div>
</div>

<style>
  /* #pwa-toast.show {
    visibility: visible !important;
  }
  button#pwa-refresh {
    display: none;
  }
  #pwa-toast.show.refresh button#pwa-refresh {
    display: inline-block;
  } */
</style>
