---
import GlobalLayout from '@layouts/GlobalLayout.astro';
import { getUser } from '@auth/session';
import { z } from 'zod';

const user = await getUser(Astro.request);
if (!user) return Astro.redirect('/login');
import executeQuery from '@db/exQ';
import Form from '../_Form.astro';

const schema = z.object({
  name: z.string().min(1, 'Please enter a name.'),
  nameFa: z.string().min(1, 'Please enter the name in Farsi.'),
  image: z.string().min(1, 'Please enter the image URL.'),
  instagram: z.string().nullable().optional(),
});

let errors = null;
let serverError = null;
let isRecordAdded = null;
let record = null;

let id = Astro.url.searchParams.get('id');
if (Astro.request.method === 'GET' && id) {
  const qRes = await executeQuery('MATCH (n:Person) WHERE n.id = $id RETURN n', { id });
  if (qRes.error) serverError = qRes.error;
  record = qRes?.records?.[0]?.get(0);
}

if (Astro.request.method === 'POST') {
  try {
    const formData = await Astro.request.formData();
    const formValues = Object.fromEntries(formData.entries());
    const safeParse = schema.safeParse(formValues);
    if (!safeParse.success) {
      errors = safeParse.error.format();
      throw '';
    }
    if (safeParse.success) {
      const properties = formValues;
      let qRes = await executeQuery('MATCH (n:Person) WHERE n.id = $id SET n = $properties RETURN n', {
        properties,
        id,
      });

      record = qRes?.records?.[0]?.get(0);
      serverError = qRes.error;
      isRecordAdded = true;
      return Astro.redirect(`/people/add-edit?id=${record.properties.id}`);
    }
  } catch (err) {
    serverError = err;
  }
}
---

<GlobalLayout title='add person'>
  <h2 class='H2'>Edit</h2>
  <Form errors={errors} initialData={record.properties} buttonText='Update' />
  {
    serverError && (
      <div>
        <h2>Server Error</h2>
        <pre class='rd-xl b-1 b-dashed b-gray5 bg-gray2 c-gray11 p-4'>{JSON.stringify(serverError, null, 2)}</pre>
      </div>
    )
  }
  {
    isRecordAdded && (
      <div class='snack-success'>
        <h2>Record added Successfully</h2>
      </div>
    )
  }
</GlobalLayout>
