@font-face {
  font-display: swap;
  font-display: swap;
  font-family: Estedad;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/ttf/Estedad-Black.ttf");
  src: url("../fonts/woff2/Estedad-Black.woff2") format("woff2"),
    url("../fonts/ttf/Estedad-Black.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: Estedad;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ttf/Estedad-Bold.ttf");
  src: url("../fonts/woff2/Estedad-Bold.woff2") format("woff2"), url("../fonts/ttf/Estedad-Bold.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: Estedad;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/ttf/Estedad-Medium.ttf");
  src: url("../fonts/woff2/Estedad-Medium.woff2") format("woff2"),
    url("../fonts/ttf/Estedad-Medium.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: Estedad;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/ttf/Estedad-Light.ttf");
  src: url("../fonts/woff2/Estedad-Light.woff2") format("woff2"),
    url("../fonts/ttf/Estedad-Light.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: Estedad;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/ttf/Estedad-Thin.ttf");
  src: url("../fonts/woff2/Estedad-Thin.woff2") format("woff2"), url("../fonts/ttf/Estedad-Thin.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: Estedad;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ttf/Estedad-Regular.ttf");
  src: url("../fonts/woff2/Estedad-Regular.woff2") format("woff2"),
    url("../fonts/ttf/Estedad-Regular.ttf") format("truetype");
}
