---
import '@unocss/reset/sanitize/sanitize.css';
import '@unocss/reset/tailwind.css';
import '../styles/reset.css';
import 'uno.css';
import '../styles/global.css';
import '../../public/fonts/estedad/css/estedad.css';
import '../../public/fonts/onvan/css/onvan.css';
import Footer from '../components/Footer.astro';
import MobileHeader from '../components/MobileHeader.astro';
import Nav from '../components/Nav.astro';
import MobileSideMenuOverlay from '../components/MobileSideMenuOverlay.astro';
import MetaTags from '../components/MetaTags.astro';
// import ReloadPrompt from '../components/ReloadPrompt.astro';

export interface Props {
  title: string;
  hasSecondSideBar?: boolean;
}

const currentPath = Astro.url.pathname;
// const currentPath = pathname.slice(1);
const { title, hasSecondSideBar = true } = Astro.props;
---

<!DOCTYPE html>
<html lang='fa' dir='rtl' class='h-full bg-sand1 c-sand12'>
  <head>
    <MetaTags />
    <title>{title}</title>
  </head>
  {
    import.meta.env.DEV && (
      <>
        <meta name='googlebot' content='noindex' />
        <meta name='robots' content='noindex' />
        <meta name='robots' content='nofollow' />
      </>
    )
  }
  <body class='h-full bg-sand1 c-sand12'>
    <div data-comment='side menu container' class='mx-auto max-w-page h-full'>
      <MobileSideMenuOverlay />
      <div class='sidebar top-0 bg-sand1 p-4 pis-2 z-30 w-sidebar' id='side-menu'>
        <Nav class='sm:b-ie-1 b-gray6 h-full flex flex-col gap-6' currentPath={currentPath} />
      </div>
      <div id='not-sidebar' class='main_content grid min-h-full' style='grid-template-rows: auto 1fr auto'>
        <MobileHeader />
        <div class={`grid g-cols-1fr ${hasSecondSideBar ? 'md:g-cols-[1fr_var(--width-sidebar)]' : ''}`}>
          <main class='p-4 sm:p-0 scroll-ma-16' id='main-content'>
            <slot />
          </main>
          {
            hasSecondSideBar && (
              <div>
                <slot name='second-side-bar' />
              </div>
            )
          }
        </div>
        <Footer />
      </div>
    </div>
    <!-- <ReloadPrompt /> -->
  </body>
</html>
