---
import '../styles/post-layout.css';
import TableOfContents from '@comps/layout-components/TableOfContents';
import GlobalLayout from './GlobalLayout.astro';
import type { MarkdownHeading } from 'astro';

export interface Props {
  title: string;
  headings: MarkdownHeading[];
  updatedAt?: Date;
  publishedAt?: Date;
}
const { title, headings, updatedAt, publishedAt } = Astro.props;
---

<GlobalLayout title={title}>
  <div class='article__wrapper'>
    <slot />
  </div>
  <div slot='second-side-bar' class='sticky top-0 px-4 b-gray6 c-sand11'>
    <TableOfContents headings={headings} client:load />
    <div class='mt-16 c-sand10 text-sm'>
      {
        publishedAt && (
          <p class='bf-i-ph-calendar-thin !before:mie-2'>
            <time>{new Date(publishedAt).toDateString()}</time>
          </p>
        )
      }
      {
        updatedAt && (
          <p class='bf-i-ph-calendar-thin !before:mie-2'>
            // بروز شده در:
            <time>{new Date(updatedAt).toDateString()}</time>
          </p>
        )
      }
      <a class='bf-i-ph-pen-thin hover:bf-i-ph-pen-duotone !before:mie-2'>ویرایش</a>
    </div>
  </div>
</GlobalLayout>

