---
import TableOfContents from '../components/TableOfContents';
import GlobalLayout from './GlobalLayout.astro';
import type { MarkdownHeading } from 'astro';

export interface Props {
  title: string;
  headings: MarkdownHeading[];
}
const { title, headings } = Astro.props;
---

<GlobalLayout title={title}>
  <div class='grid g-cols-1fr md:g-cols-[1fr_var(--width-sidebar)]'>
    <div class='article__wrapper'>
      <slot />
    </div>
    <aside class='w-sidebar display-none md:block pis-4 py-4'>
      <div class='sticky top-0 px-4  b-gray6  c-gray11'>
        <TableOfContents headings={headings} client:load />
        <div class='mt-16 c-gray10 text-sm'>
          <p class="bf-i-ph-calendar-thin !before:mie-2">بروز شده در:
            <time></time>
          </p>
          <a class='bf-i-ph-pen-thin hover:bf-i-ph-pen-duotone !before:mie-2'>ویرایش</a>
        </div>
      </div>
    </aside>
  </div>
</GlobalLayout>

<style lang='scss' is:global>
  .article__wrapper > * + * {
    margin-top: 1em;
  }

  .article__wrapper > video,
  .article__wrapper > img,
  .article__wrapper > figure,
  .article__wrapper > iframe {
    margin-bottom: 3rem;
    margin-top: 3rem;
    border-radius: 0.75rem;
  }

  .article__wrapper {
    h1:not([class]) {
      font-size: 3rem;
      font-weight: 900;
      line-height: 1.5;
      margin-bottom: 3em;
      letter-spacing: -0.025em;
      color: var(--rdx-colors-prm-12);
      padding-bottom: 0.3em;
    }

    @media screen and (min-width: 40.01rem) {
      .article h1:not([class]) {
        font-size: 4.5rem;
      }
    }

    h2:not(.unstyled) {
      font-size: 1.875rem;
      line-height: 3.5rem;
      letter-spacing: -0.0125em;
      font-weight: 900;
      line-height: 1.5;
      width: fit-content;
      color: var(--rdx-colors-prm-11);

      display: flex;
      gap: 1rem;
      justify-content: stretch;
      align-items: center;
      width: 100%;
    }

    h2:not(.unstyled)::after {
      content: '';
      flex: 1;
      background-color: currentColor;
      height: 1px;
      opacity: 50%;
    }

    h3:not(.unstyled) {
      font-size: 1.5rem;
      line-height: 3rem;
      font-weight: 900;
      width: fit-content;
      color: var(--rdx-colors-prm-12);
    }

    h4:not(.unstyled) {
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 3rem;
      color: var(--rdx-colors-prm-12);
    }

    figure {
      width: 100%;
      max-width: 100%;
    }

    figure img {
      width: 100%;
      max-width: 100%;
    }

    figcaption {
      text-align: center;
      color: var(--rdx-colors-gray-11);
      font-style: italic;
      border-top: 1px solid var(--rdx-colors-gray5);
      margin-top: 1em;
      padding-top: 1em;
    }

    iframe:not([class]) {
      max-width: 100%;
      width: 100%;
    }

    iframe:not([class])[src^="https://www.youtube"]
    {
      aspect-ratio: 16/9;
    }
  }
</style>
