:root {
  /* LOGICAL CSS VARIABLE HACK */
  --ON: initial;
  --OFF: ;
}

.dark {
  --is-light-theme: var(--ON);
  --is-dark-theme: var(--OFF);
}

.light {
  --is-light-theme: var(--OFF);
  --is-dark-theme: var(--ON);
}

.max-w-page {
  max-width: min(100%, 60rem);
}

html {
  scroll-behavior: smooth;
}

html,
body {
  direction: rtl;
}

html,
body,
.font-family-content {
  --font-family-content: "Estedad", "iransans", "vazirmatn", "Roboto", "Arial", "sans-serif", -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: var(--font-family-content);
}

body {
  /* Usually line height is set to 1.5. But for the Estedad font, 2 is more readable. */
  --light-height: 2;
  line-height: var(--light-height);
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-family-heading {
  font-family: onvan, "Estedad", "IRANSans", "vazirmatn", "Roboto", "sans-serif", -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  color-scheme: dark light;
}

#__next {
  height: 100%;
}

/* Side Menu Styles */

:root {
  --sidebar-width: 12.5rem;
  --side-menu-transition-time: 0.6s;
}

@media (min-width: 1025px) {
  :root {
    --sidebar-width: 15rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --side-menu-transition-time: 1ms;
  }
}

@media (max-width: 40rem) {
  .sidebar {
    grid-area: main;
  }
}

.sidebar {
  --easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
  --side-menu-transition-time: 0.6s;
}

.w-sidebar {
  width: var(--sidebar-width);
}
/* .min-w-sidebar {
  min-width: calc(var(--sidebar-width) * 0.8);
} */

@media (min-width: 40.01rem) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    inset-block-start: 0;
    max-height: 100vh;
    overflow-y: auto;
  }
}

@media (max-width: 40rem) {
  .sidebar {
    position: fixed;
    inset-block: 0;
    inset-inline-start: 0;
    max-height: 100vh;
    overflow-y: auto;
    overscroll-behavior: contain;

    visibility: hidden; /* not keyboard accessible when closed */
    transform: translateX(110vw);
    will-change: transform;
    transition: transform var(--side-menu-transition-time) var(--easeOutExpo),
      visibility var(--side-menu-transition-time)  linear;
  }
  .sidebar.drawer-open {
    visibility: visible;
    transform: translateX(0);
    transition: transform var(--side-menu-transition-time) var(--easeOutExpo);
  }
}

/* End of Side menu styles */

/* .moz-appearance-textfield {
  -moz-appearance: textfield;
} */

@media screen and (max-width: 40rem) {
  .desktop-only {
    display: none;
  }
}
@media screen and (min-width: 40.01rem) {
  .mobile-only {
    display: none;
  }
}

.in-text-link,
p a {
  color: var(--is-dark-theme, #8cb4ff) var(--is-light-theme, #0069c2);
  color: revert;
  text-decoration-line: underline;
}



.gradient-effect {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent !important;
  background-image: var(--gradient);
}

:root {
  --gradient: linear-gradient(
    90deg,
    var(--rdx-colors-indigo-9) 4%,
    var(--rdx-colors-violet-9) 20%,
    var(--rdx-colors-purple-9) 36%,
    var(--rdx-colors-plum-9) 52%,
    var(--rdx-colors-pink-9) 68%,
    var(--rdx-colors-crimson-9) 84%,
    var(--rdx-colors-orange-9) 100%
  );

  --gradient-sm: linear-gradient(
    90deg,
    var(--rdx-colors-violet-9) 0%,
    var(--rdx-colors-purple-9) 50%,
    var(--rdx-colors-plum-9) 100%
  );
}

.gradient {
  background-image: var(--gradient);
}
.gradient-sm {
  background-image: var(--gradient-sm);
}

/* .gradient-effect {
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent !important;
  background-image: linear-gradient(90deg, var(--rdx-colors-red-12) 0%, var(--rdx-colors-tomato-10) 100%);
} */

ul {
  padding-inline-start: 1.25rem;
  list-style-type: disc;
}

ol {
  padding-inline-start: 1.25rem;
  list-style-type: decimal;
  list-style-type: -moz-persian;
  list-style-type: persian;
}

.space-y-1em > * + * {
  margin-top: 1em;
}

.space-y-1\.2em > * + * {
  margin-top: 1.2em;
}

.space-y-1\.5em > * + * {
  margin-top: 1.5em;
}

.space-y-2em > * + * {
  margin-top: 2em;
}

.inline-block {
  display: inline-block;
}

/* @font-face {
  font-family: "__myFont_d295aa";
  src: url(/_next/static/media/bdc06715334f3153.p.woff2) format("woff2");
  font-display: optional;
}
@font-face {
  font-family: "__myFont_Fallback_d295aa";
  src: local("Arial");
  ascent-override: 112.19%;
  descent-override: 56.1%;
  line-gap-override: 0%;
  size-adjust: 104.45%;
} */
