:root {
  /* LOGICAL CSS VARIABLE HACK */
  --ON: initial;
  --OFF: ;
}

.dark {
  --is-light-theme: var(--ON);
  --is-dark-theme: var(--OFF);
}

.light {
  --is-light-theme: var(--OFF);
  --is-dark-theme: var(--ON);
}

.max-w-page {
  max-width: min(100%, 60rem);
}

html,
body {
  direction: rtl;
}

html,
body,
.font-family-content {
  font-family: "Estedad", "iransans", "vazirmatn", "Roboto", "sans-serif", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  /* Usually line height is set to 1.5. But for the Estedad font, 2 is more readable. */
  --light-height: 2;
  line-height: var(--light-height);
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-family-heading {
  font-family: onvan, "OnvanFallback", "Estedad", "IRANSans", "vazirmatn", "Roboto", "sans-serif", -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  color-scheme: dark light;
}

#__next {
  height: 100%;
}

/* Side Menu Styles */

:root {
  --aside-width: 15rem;
  --side-menu-transition-time: 0.6s;
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --side-menu-transition-time: 1ms;
  }
}

@media (max-width: 640px) {
  .aside {
    grid-area: main;
  }
}

.aside {
  --easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
  --side-menu-transition-time: 0.6s;
}

.w-aside {
  width: var(--aside-width);
}
.min-w-aside {
  min-width: calc(var(--aside-width) * 0.8);
}

@media (min-width: 641px) {
  .aside {
    position: fixed;
    top: 0;
    bottom: 0;
    inset-block-start: 0;
    max-height: 100vh;
    overflow-y: auto;
  }
}

@media (max-width: 640px) {
  .aside {
    position: fixed;
    inset-block: 0;
    inset-inline-start: 0;
    max-height: 100vh;
    overflow-y: auto;
    overscroll-behavior: contain;

    visibility: hidden; /* not keyboard accessible when closed */
    transform: translateX(110vw);
    will-change: transform;
    transition: transform var(--side-menu-transition-time) var(--easeOutExpo),
      visibility 0s linear var(--side-menu-transition-time);
  }
  .aside.drawer-open {
    visibility: visible;
    transform: translateX(0);
    transition: transform var(--side-menu-transition-time) var(--easeOutExpo);
  }
}

/* End of Side menu styles */

/* .moz-appearance-textfield {
  -moz-appearance: textfield;
} */

@media screen and (max-width: 640px) {
  .desktop-only {
    display: none;
  }
}
@media screen and (min-width: 640px) {
  .mobile-only {
    display: none;
  }
}

/* typography  */
h1:not(.unstyled) {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 3rem;
  /* letter-spacing: -0.015em; */
  width: fit-content;

  /* background-color: var(--rdx-colors-yellow-3); */
}

h2:not(.unstyled) {
  font-size: 2.25rem;
  /* letter-spacing: -0.01em; */
  font-weight: 400;
  line-height: 1.5;
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: fit-content;
  /* background-color: var(--rdx-colors-teal-3); */
}

h3:not(.unstyled) {
  /* letter-spacing: 0.00625em; */
  font-size: 1.875rem;
  line-height: 3.5rem;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 1rem;
  /* background-color: var(--rdx-colors-slate-3); */
  width: fit-content;
}
h4:not(.unstyled) {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 3rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.in-text-link,
p a {
  color: var(--is-dark-theme, #8cb4ff) var(--is-light-theme, #0069c2);
  color: revert;
  text-decoration-line: underline;
}

.gradient-effect {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent !important;
  background-image: linear-gradient(90deg, var(--rdx-colors-red-12) 0%, var(--rdx-colors-tomato-10) 100%);
}

/* .gradient-effect {
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent !important;
  background-image: linear-gradient(90deg, var(--rdx-colors-red-12) 0%, var(--rdx-colors-tomato-10) 100%);
} */

ul {
  padding-inline-start: 1.25rem;
  list-style-type: disc;
}

ol {
  padding-inline-start: 1.25rem;
  list-style-type: decimal;
  list-style-type: -moz-persian;
  list-style-type: persian;
}

.space-y-1em > * + * {
  margin-top: 1em;
}

.space-y-1\.2em > * + * {
  margin-top: 1.2em;
}

.space-y-1\.5em > * + * {
  margin-top: 1.5em;
}

.space-y-2em > * + * {
  margin-top: 2em;
}

.inline-block {
  display: inline-block;
}

/* @font-face {
  font-family: "__myFont_d295aa";
  src: url(/_next/static/media/bdc06715334f3153.p.woff2) format("woff2");
  font-display: optional;
}
@font-face {
  font-family: "__myFont_Fallback_d295aa";
  src: local("Arial");
  ascent-override: 112.19%;
  descent-override: 56.1%;
  line-gap-override: 0%;
  size-adjust: 104.45%;
} */
